---
---

@import "{{ site.theme }}";

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Google Sans', roboto, 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', 'Roboto', 'Segoe UI', sans-serif, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

code {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", 'Consolas', 'Courier New', monospace;
}

h1 {
    color: #e575ff;
}
